body {
  margin: 0;
  padding: 23px 35px;
  background-color: rgb(247, 201, 201);
}

h1{
    font-family: "Playwrite HU", cursive;
    margin-left: 33px;
    margin-bottom: 50px;
    font-weight: 700;
    color: rgb(125, 22, 229);
    text-align: center;
}


div {
  display: inline-block;
  margin-left: 10px;
  
}

img{
    display: block;
}
span{
    display: inline-block;
    background-color: aquamarine;
    width: 100%;
    text-align: center;
}